/*
Geral
*/
body{
   font-family: orator-std, monospace;
   font-style: normal;
   font-weight: 400;
}
h1,h2,h3{
    margin: 0;
    font-family: Orator std;
    font-weight: 700;
}
/* 
Navegação
*/
nav{
    display:flex;
    flex-direction: row;
    text-decoration: none;
    background-color: #252323;
    justify-content: space-around;
    height: 60px;
}
nav a {
    color: #ffffff;
    font-weight: 700;
    font-size: 43px;
}
nav ul{
    list-style: none;
    /* padding: 0%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;

}
nav ul li{
    /* text-align: center;
    width: 100%; */
}
nav ul li a {
    font-size: 17px;
    display: inline-block;
    /* padding:10px 0;
    width: 100%; */
    text-decoration: none;
    color: #f3f3f3;
    margin-left: 17px;
}
button.slick-prev{
	font-size: 0px;
    border: none;
    z-index: 9;
    width: 25px;
    height: 51px;
    top: 35%;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    left: 14%;
    cursor: pointer;
}
button.slick-next{
	font-size: 0px;
    border: none;
    z-index: 9;
    width: 25px;
    height: 51px;
    top: 35%;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    right: 14%;
    cursor: pointer;
}
.slick-list{
	width: 100%!important;
}
.slick-dots li button{
	font-size: 0px;
	border: 5px solid #ffffff;
	width: 20px;
    height: 20px;
	background: transparent;
	border-radius: 50px;
	cursor: pointer;
}
.slick-dots{
    margin: 0 auto;
    position: absolute;
    left: 44%;
    top: 88%;
}
li.slick-active button {
	background: #000000;
}
.slick-dots li{
	padding-left: 10px;
	display: inline-block;
}
#traje {
    background-image: url("../img/slideTRA.jpg");
    background-repeat: round;
    flex-direction: column;
    text-align: center;
    padding: 19px 0px 44%;
}
#traje .trajeh1{
    color: #ffffff;
}
.obv{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.creditos{
padding: 10px ;
display: flex;
flex-direction: row;
background-color: #252323;
color: #f3f3f3;
justify-content: space-around;
}
.creditos p{
    margin: 0;
}
.Equipe{
    display: flex;
    flex-direction: column;
}

.social {
   display: flex;
}
.social h3{
    margin-bottom: 13px;
}
.social p{
    margin-top: 13px;
}
.social .instagram{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}
.social .whatsapp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgvmv{
    height: 70px;
    width: 70px;
}
/*
INFO
*/
.zoom img {
    padding: 15px;
    display: flex;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s
}
.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.zoom {
    display: flex;
    width: 207px;
}
.text {
    color: #000000;
    height: 100px;
    width: 100%;
    padding-left: 14px;
    margin: auto;
}
.imagens{
    display: flex;
    flex-direction: column;
}
.linkinsta{
    text-decoration: none;
    color: #f3f3f3;
}
/* 
INVESTIDORES
*/
.investidoresh3{
    margin: 20px;
}
/*
PRODUTO
*/
.fonte{
    padding: 0px 50px 0px 70px;
}
.txt{
    display: flex;
    padding: 50px;
}

/* 
MIDIA QUERY 
*/
@media only screen and (max-width: 700px) {
    .Equipe{
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
}
@media only screen and (max-width: 700px) {
    #traje{
    background-image: url("../img/slideTRA.jpg");
    background-repeat: round;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    padding: 0px 0px 44%;
    }
}
@media only screen and (max-width: 700px) {
    .social .instagram{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 3px;
    }
}
@media screen and (min-width: 768px) {
    nav {
    flex-direction: row;
    justify-content: space-around;
    }
    nav ul{
        flex-direction: row;
        /* width: 70%; */
    }
    .obv{
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: flex-start;
        background-color: #F5F5F5;
        align-items: center;
        height: 300px;
        padding: 80px 186px;
    }
    .obv div{
        flex-grow: 1;
        flex-basis: 150px;
    }
}
@media screen and (min-width: 768px) {
    .imagens{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 700px) {
    .fonte{
        padding: 0px 90px 0px 16px;
    }
    .txt{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .maquinas img{
        height: 400px;
        width: 100%;
    }
}