body{
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow-x: hidden; 
	font-family: Orator std;
	position: absolute;
	background-color: #252323;

}
ul li a{
	color: #f3f3f3;
}
body img {
	display: block;
}

.menu-principal {
	
	background-color: #252323;
	height: 60px;
	width: 100%;
}

main {
	margin: 0 auto;
	position: relative;
}
.logo {
padding: 15px;
padding-left: 300px;
width: 20%;
 float:left ;
 display: block;
}
.opções ul li{
	margin-left: 20px;
	display: inline-block;
	float:left;

}
.opções {
	width: 50%;
	float: right;
	text-transform: uppercase;
		font-size: 17px;
		padding: 5px;
}
.opções ul li a {
	text-decoration: none;
}
.opções ul li a:hover {
	text-decoration: underline;
}
.obv {background-color: #F5F5F5;
	height: 300px;
		padding: 80px;
	
}
.imgs1 {
float: left;
padding-right: 100px;	
padding-left: 230px;

}
.imgs2 {
	float: left;
	padding-right: 100px;

}
.imgs3 {
	float: left;
	padding-right: 100px;
}
.obv h3 {
	color:#818181;
}
.obv p {
	color: #9a9a9a;
	width: 200px;
	height: 200px;
}
.traje img { 

}
.btn { 
	top: -720px;
	left: 90%;
    right: 2px;
    z-index: 9;
    position: relative;
	font-size: 38px;
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%,-50%);
	padding:12px 24px;
	font-family: Orator std;
	border-radius: 5px;
	}
.foo1{ width: 190px;
	height: 190px;
}

footer h3 {
	color: #f3f3f3;
}
footer p {
color: #EEE9E9
}
#footer{
	background-color: #252323;
    height: 252px;
    width: 100%;
    top: 1727px;
    position: absolute;
}
.foo1 {
float: left;
position: relative;
padding-right: 200px;	
padding-left: 230px;

}
.foo2 {
	float: left;
	padding-right: 200px;


}

.foo3{
	float: left;
	padding-right: 200px;
}
button.slick-prev{
	font-size: 0px;
    border: none;
    z-index: 9;
    width: 25px;
    height: 51px;
    top: 35%;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    left: 14%;
    cursor: pointer;
}
button.slick-next{
	font-size: 0px;
    border: none;
    z-index: 9;
    width: 25px;
    height: 51px;
    top: 35%;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    right: 14%;
    cursor: pointer;
}
.slick-list{
	width: 100%!important;
}
.slick-initialized{
	overflow-x: hidden;
}
.slick-dots li button{
	font-size: 0px;
	border: 5px solid #ffffff;
	width: 20px;
    height: 20px;
	background: transparent;
	border-radius: 50px;
	cursor: pointer;
}
.slick-dots{
	margin: 0 auto;
    position: absolute;
    left: 44%;
    top: 88%;
}
li.slick-active button {
	background: #000000;
}
.slick-dots li{
	padding-left: 10px;
	display: inline-block;
}
