body{
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow-x: hidden; 
	font-family: Orator std;
	position: absolute;
	background-color: #f3f3f3;

}
ul li a{
	color: #f3f3f3;
}
body img {
	display: block;
}

.menu-principal {
	
	background-color: #252323;
	height: 60px;
	width: 100%;
}

main {
	margin: 0 auto;
	position: relative;
}
.logo {
padding: 15px;
padding-left: 300px;
width: 20%;
 float:left ;
 display: block;
}
.opções ul li{
	margin-left: 20px;
	display: inline-block;
	float:left;

}
.opções {
	width: 50%;
	float: right;
	text-transform: uppercase;
		font-size: 17px;
		padding: 5px;
}
.opções ul li a {
	text-decoration: none;
}
.opções ul li a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 25px;
}
.zoom {
	overflow: hidden;
	height: 60px;
	width: 100%;
}
h1 {
	padding: 13px;
}
.zoom img {
	position: absolute;
	padding: 15px;
    padding-left: 60px;
    float:left ;
    display: block;
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s
	transition: all 0.3s;
}
.zoom:hover img {
 -moz-transform: scale(1.1);
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
 .ul  ul li {
	display: inline-block;
	float: left;
}
.text {
	position: absolute;
	color: #ffffff;
	height: 60px;
	width: 100%;
	padding-left: 90px;
	top:310px;
}
.info {
	padding: 58px;
	font-size: 15px;
	float: left;
	padding-left: 240px;


}
.text2 {
	position: absolute;
	color: #ffffff;
	height: 60px;
	width: 100%;
	padding-left: 100px;
	top:310px;

}
.info2 {
	padding: 0px;
	font-size: 15px;
	float: left;
	padding-left: 280px;


}
.ul10 img {
top: 150px;
}
.ul2 img {
	padding: 60px;
}
.ul2 ul li {
	display: inline-block;
	float: left;
}
.text3 {
	position: absolute;
	color: #ffffff;
	height: 60px;
	width: 100%;
	padding-left: 70px;
	top:550px;
}
.info3{
	padding: 58px;
	font-size: 15px;
	float: left;
	padding-left: 240px;


}
.ul3 img {
	top:350px;
	padding-left: 30px;



}
.text4{
	position: absolute;
	color: #ffffff;
	height: 60px;
	width: 100%;
	padding-left: 70px;
	top:550px;
}
.info4{
	padding: 7px;
	font-size: 15px;
	float: left;
	padding-left: 250px;
}
.ul4 ul li {
	display: inline-block;
}
.ul5 img {
	top:640px;
	padding-left: 20px;
}
.text5 {
position: absolute;
	color: #ffffff;
	height: 60px;
	width: 100%;
	padding-left: 60px;
	top:800px;
}
.info5 { 
	
	font-size: 15px;
	float: left;
	padding-left: 250px;

}
.text6 {
position: absolute;
	color: #ffffff;
	height: 60px;
	width: 100%;
	padding-left: 180px;
	top:800px;
}
.info6{ 
padding: -100px;
padding-left: 347px;

}
.ul6 img {
	top: 638px;
	padding-left: 125px;
}
.foo1{ width: 190px;
	height: 190px;
}

footer h3 {
	color: #f3f3f3;
}
footer p {
color: #EEE9E9
}
#footer{
	background-color: #252323;
    height: 252px;
    width: 100%;
    top: 1007px;
    position: absolute;
}
.foo1 {
float: left;
position: relative;
padding-right: 200px;	
padding-left: 230px;

}
.foo2 {
	float: left;
	padding-right: 200px;


}

.foo3{
	float: left;
	padding-right: 200px;
}